<!DOCTYPE html>
<html>
<head>
	<title>Соціальна мережа</title>
</head>
<body>
	<header>
		<!-- Навігаційне меню -->
		<nav>
			<ul>
				<li><a href="#">Профіль</a></li>
				<li><a href="#">Новини</a></li>
				<li><a href="#">Друзі</a></li>
				<li><a href="#">Повідомлення</a></li>
				<li><a href="#">Вихід</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<!-- Заголовок сторінки -->
		<h1>Соціальна мережа</h1>

		<!-- Заголовок блоку -->
		<h2>Новини</h2>

		<!-- Список новин -->
		<ul>
			<li>
				<h3>Заголовок новини 1</h3>
					<p>Текст новини 1</p>
			</li>
			<li>
				<h3>Заголовок новини 2</h3>
					<p>Текст новини 2</p>
			</li>
			<li>
				<h3>Заголовок новини 3</h3>
					<p>Текст новини 3</p>
			</li>
		</ul>

		<!-- Заголовок блоку -->
		<h2>Друзі</h2>

		<!-- Список друзів -->
		<ul>
			<li>
				<a href="#">Ім'я користувача 1</a>
			</li>
			<li>
				<a href="#">Ім'я користувача 2</a>
			</li>
			<li>
				<a href="#">Ім'я користувача 3</a>
			</li>
		</ul>

		<!-- Заголовок блоку -->
		<h2>Повідомлення</h2>

		<!-- Форма відправки повідомлення -->
		<form>
			<label for="message">Введіть повідомлення:</label>
			<textarea id="message"></textarea>
			<button type="submit">Надіслати</button>
		</form>

		<!-- Список повідомлень -->
		<ul>
			<li>
				<h3>Ім'я користувача 1
